.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 260px;
}

.grid-container {
  margin: 20px;
}

.padding-container {
  padding: 20px;
}

.button-container-end {
  display: flex;
  justify-content: flex-end;
}

.button-container-start {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.popup-container {
  background-color: #fefefe;
  //margin: 15% auto; /* 15% from the top and centered */
  padding: 30px;
  width: 100%; /* Could be more or less, depending on screen size */
}
