  <mat-card class="popup-container">
    <mat-card-header>
      <mat-card-title>
        {{'userDetails.userChangePasswordPopup.title' | translate}}: {{data}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content grid-container">
      <form [formGroup]="changePasswordForm" novalidate (ngSubmit)="onSubmit()">
        <app-form-field class="log-input-pass" label="{{'loginPage.password' | translate}}" [required]="true" [control]="changePasswordForm.controls['currentPassword']" [isInline]="false">
          <app-password [inputClass]="'hp-input_login'" formControlName="currentPassword"></app-password>
        </app-form-field>
        <app-form-field class="log-input-pass" label="{{ 'initializePage.password' | translate}}" [required]="true" [control]="changePasswordForm.controls['newPassword']" [isInline]="false" [patternError]="regexErrors.password">
          <app-password [inputClass]="'hp-input_login'" formControlName="newPassword"></app-password>
        </app-form-field>
        <app-form-field class="log-input-pass" label="{{ 'initializePage.confirmPassword' | translate}}" [required]="true" [control]="changePasswordForm.controls['confirmationPassword']" [isInline]="false">
          <app-password [inputClass]="'hp-input_login'" formControlName="confirmationPassword"></app-password>
        </app-form-field>
        <div class="button-container-end">
          <button class="hp-button" mat-dialog-close type="button">{{'userDetails.buttons.back' | translate}}</button>
          <button class="hp-gradient-button" type="submit">{{'userDetails.buttons.accept' | translate}}</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
