<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">

    <app-side-bar></app-side-bar>

  </mat-sidenav>
  <mat-sidenav-content>
    <app-nav-bar [drawer]="drawer"></app-nav-bar>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
